.collaboratorContainer{
    width: 600px;

} 
.Title{
	padding-top: 12px;
	padding-left: 20px;
	font-size: large;
	height: 50px;
	font-weight: bold;
}
.userInformation{

    width: 500px !important;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
 .userProfile {
    display: flex;
	flex-direction: row;
	padding-top: 10px;
	padding-right: 100px;
}

 .userLists{
	 width:250px
 }
.information{
	padding-left: 15px;
	flex-direction: row;
	display: flex;

} 
.SearchMail{
    display: flex;
	flex-direction: row;
	background-color: white;
	padding-bottom: 20px;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
} 
.Collaboratorimage{
    padding-top: 18px;
	padding-right:15px;
}
.collaboratortextfield{
    padding-left: 2px;
	width: 100%;
}    
.registerUserMainueMenu{
    max-height: 365px;
	max-width: 300px;
}
 .dialogbutton{
	flex-direction: row;
	display: flex;
    padding-top: 10px !important;
	padding-bottom: 10px !important;
	padding-left: 450px !important;
	background-color: #E8E8E8;
}
.clearcollab{
	justify-content: end;
	width: 20em;
}

@media only screen and (max-width: 414pX) {
	.collaborationdialog{
		width: 300px;
	
	} 
	/*.dialogbutton{
		flex-direction: row;
		display: flex;
		padding-top: 10px !important;
		padding-bottom: 10px !important;
		padding-left: 300px !important;
		background-color: #E8E8E8;
	}*/
}