.notes:hover{
    width:300px;
   
}
.notes:focus{
   background-color:#FEEFC3 !important;
   border-top-right-radius:30px;
   border-bottom-right-radius:30px;
   border-bottom-left-radius:28px;
   border-top-left-radius:28px;
}   
.remainder:hover{
    width:300px;
    
}
.remainder:focus{
   background-color:#FEEFC3 !important;
   border-top-right-radius:30px;
   border-bottom-right-radius:30px;
   border-bottom-left-radius:28px;
   border-top-left-radius:28px;
}
.editlabels:hover{
    width:300px;
}
.editlabels:focus{
   background-color:#FEEFC3 !important;
   border-top-right-radius:30px;
   border-bottom-right-radius:30px;
   border-bottom-left-radius:28px;
   border-top-left-radius:28px;
}
.archive:hover{
    width:300px;
   
}
.archive:focus{
   background-color:#FEEFC3 !important;
   border-top-right-radius:30px;
   border-bottom-right-radius:30px;
   border-bottom-left-radius:28px;
   border-top-left-radius:28px;
}
.trash:hover{
    width:300px;
    border-top-right-radius:27px;
    border-bottom-right-radius:27px;
}
.trash:focus{
   background-color:#FEEFC3 !important;
   border-top-right-radius:30px;
   border-bottom-right-radius:30px;
   border-bottom-left-radius:28px;
   border-top-left-radius:28px;
}
