
.displayContainer{    
    width:80%;
    min-height: 135px;
    margin: 10px !important;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 5px;
    margin: 1px;
    flex-direction: row; 
  margin-left: 30em;    
}
.cardContainer{
    width: 600px;
    min-height: 120px ;
    height: auto;
    border-radius: 10px;
    display: flex;
   flex-direction: column; 
    justify-items: start;
    padding: 20px ;  
   margin-left: 25em; 
   min-height: 30px;
  
   justify-content: start;
   align-items: flex-start;
}
