
.displayContainer{    
    min-height: 1px;
    margin: 10px !important;
    display: flex;
justify-content: start;
 
    margin: 1px;
    flex-direction: row; 
  margin-left: 30em;   
  flex-wrap: wrap; 
}
.title{
  padding-bottom: 5px;
  font-size: 20px;
}
.cardContainer{
    width: 300px;
    min-height: 50px ;
    height: auto;
    display: flex;
    flex-direction: column; 
    justify-items: start;
    padding: 21px ;  
    flex-wrap: wrap;
   justify-content: start;
   align-items: flex-start;
   
}
/*.cardContainer{
    width: 600px;
    min-height: 50px ;
    height: auto;
    border-color: rgb(245, 245, 245);
    border-style: groove;
    display: flex;
    flex-direction: column; 
    justify-items: start;
    padding: 21px ;  
   margin-left: 25em; 
   justify-content: start;
   align-items: flex-start;
}*/
.ShowIconButtons{
  height : 35px;
  visibility: visible;
  align-self: flex-start;
  width: 70%;
  position : relative;
  top:15px;
  left:80px;
  top: 10px;
  
 
}

.hideIconButtons{
  height: 25px;
  margin-top: 15px;
  visibility: hidden;
  align-self:center;
  width: 80%;
  
}
/*.storage{
  width: 60%;
  top:50px;
    height: auto;
   
    display: flex;
    flex-direction: row; 
    padding: 21px ;  
    flex-wrap: wrap;
   margin-left: 20em; 
   align-items: flex-start;
   justify-items: start;
}*/
.masonry-grid {
  width: 100%;
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    flex-grow: initial;
    overflow-wrap: initial;
    padding-left:300px;; /* gutter size offset */
    width: auto;
}
.masonry-grid_column {
  padding-left: 15px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.masonry-grid_column > div {
  margin: 15px auto;
}
.display{
  width:40%;
 
  display:flex;
  margin-top:50px;
  align-items:flex-start;
  flex-direction:row 
}
@media only screen and (max-width: 360pX) {
 
  .displayContainer{    
    margin-left: 1em;  
  }
  .cardContainer{
    width: 400px;
    min-height: 50px ;
    height: auto;
    display: flex;
    flex-direction: column; 
    justify-items: start;
    padding: 21px ;  
    flex-wrap: wrap;
   justify-content: start;
   align-items: flex-start;
   
  }
  .storage{
    width: 100%;
    top:50px;
      height: auto;
      display: flex;
      flex-direction: row; 
      padding: 21px ;  
      flex-wrap: wrap;
     margin-left: 2em; 
     align-items: flex-start;
     justify-items: start;
  }
  .ShowIconButtons{
    
    height : 35px;
  visibility: visible;
  align-self: flex-start;
  width: 20%;
  position : relative;
  top:15px;
  left:100px;
  top: 10px;
  
   
  }
  .masonry-grid {
    width: 100%;
      display: -webkit-box; /* Not needed if autoprefixing */
      display: -ms-flexbox; /* Not needed if autoprefixing */
      display: flex;
      flex-grow: initial;
      overflow-wrap: initial;
      padding-left:200px;; /* gutter size offset */
     
      width: auto;
  }
}