.addNoteContainer{
    margin-top:5em ;
    margin-left:10em ;
    width: 20em;
    border-style: groove;
    border-radius: 1px;
    align-items: center;
    justify-content: center;
    display: flex;
}