.noteCotainer{
    width: 45em ;  
    min-height: 10em;   
    border: groove;
    border-color:  rgba($color:#F1F3F4, $alpha: 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 1px;
    margin-left: 23em;;
    margin-bottom: 40px;
    position: relative;
    top: 40px;
    left:2em;
   
    border-color: rgba(0,0,0,.2);
    background-clip: padding-box;
    border-width: 1px 3px 3px 2px;
}
#tittle{
    font-size: 20px ;    
    font-weight: bold  ;
    width: 100%    ;  
}
.textFieldContainer{
    padding-top: 5px;
    width: 98%;
   
} 
.textfield{
    border-style: none;
    min-height: 30px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    width: 100%;

}
.textfields
{
    border-style: none;
    min-height: 30px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    width: 100%;
    font-size: x-large;
    font-weight: bold;
}
.iconPositionSetting{
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    display: flex;
    padding-left: 10px;
  
}
.closeButtonSetting{
   
    position: relative;
    left: 50px;
 display: flex;
   
}
@media only screen and (max-width: 414pX) {
    .noteCotainer{
        width:30em ;
        margin-left: 2em;  
        height: 60px; 
        top: -5px;  
    }
    
    .iconPositionSetting{
        flex-direction: row;
        justify-content: space-around;
        justify-items: center;
        display: flex;
        padding-left: 10px;
      left:300px;
      width:80%
    }
    .closeButtonSetting{
   
       
        right: 1px;
     
       
    }
   
    
}