.ShowIconButton{
  top: 10px;
    visibility: visible;
    align-self: flex-start;
    width: 100%;
    position : relative;
   
   right:18px;
   
    padding: 1px;
  
   
  }
  
  .hideIconButton{
    height: 25px;
    margin-top: 15px;
    visibility: hidden;
    align-self:center;
    width: 100%;
    
  }
  .masonry-grid {
    width: 100%;
      display: -webkit-box; /* Not needed if autoprefixing */
      display: -ms-flexbox; /* Not needed if autoprefixing */
      display: flex;
      flex-grow: initial;
      overflow-wrap: initial;
      margin-left: 50px; /* gutter size offset */
      width: auto;
  }
  .masonry-grid_column {
   // padding-left: 1px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .masonry-grid_column > div {
    margin: 15px auto;
  }
  .trashdisplay{
    margin-top:100px;
}
