.ShowIconButton{
  top: 10px;
    visibility: visible;
    align-self: flex-start;
    width: 100%;
    position : relative;
   
   right:18px;
   
    padding: 1px;
  
   
  }
  
  .hideIconButton{
    height: 25px;
    margin-top: 15px;
    visibility: hidden;
    align-self:center;
    width: 100%;
    
  }