.noteIconsContainer{
    width: 65% ;
}

.dialogContainer{
    width: 50em ;
    padding: 10px ;
    padding-top: 15px;
}
.dialogField{
    width: 33em ;

   
}
.dialogtextFields{
    width: 30em ;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    padding-left: 20px;
    
    
}
.dialogtextsFields{
    width: 30em ;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    padding-top: 15px;
    padding-left: 20px;
  
    
}

.tittle{
width: 100%;
font-size: 20px;

}
.takeNote{
    width: 100%;
   
}
.iconfordialog{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 180px;
    padding-right:100px;
   
    width:90%;
    position: relative;
    left:10px;
   
    
   
}
.displaychecklistSetting{
    display:flex;
    flex-direction:column;
    
  }
  .displayListItem{
    display:flex;
    flex-direction:row;
   
  }
@media only screen and (max-width: 414pX) {
    .iconfordialog{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 10px;
        padding-right:120px;
       
        width:100%;
        position: relative;
        left:10px;
       
        
       
    }
    
    .dialogContainer{
        width: 100%;
        padding: 10px !important;
    }
   
    
}