.logincontainer{
    width: 20em;  
    height: auto;   
    position: relative;   
    border-width: 0.1px;
    line-height: 30px;
    border-color:  rgb(247, 244, 244);
    top:10em;        
    background-color: #FFFFFF;    
    display: flex;    
    border-style: groove;
    flex-direction: column;   
    margin: auto;    
    padding: 0;   
    align-items: center;  
    justify-items: center;  
    padding-bottom: 3%;  
}
.fundoonamecontainer{
    margin-top: 30px;
    font-size: x-large;  
}
.blue{color: blue;}
.red{color:red;}
.yellow{color: yellow;}
.green{color: green;}
.signtext{
    font-family: sans-serif;
    justify-items: center;
    font-size: 14px;
}


.TextField{
    margin-top: 15px;
    margin-bottom: 40px;
    height: 10px;
}
.forgetpass{
        width: 22em;
    margin-top: 1px;    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;  
    font-size: x-small;
    margin-bottom: 40px;
  
    top:10em;  
    line-height: 50px;
   

}
.Link{
    color: blue;
    text-decoration: none;
}
.buttons{
    width: 30px;
    float: right;
    position: relative;
    right: 25%;
    margin-bottom: 30px;  
}
.invalidfeedback {
    color: red;
}
.distancebetweenButtons{
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding-top: 1%;
    float: left;
    position: relative;
    flex-direction: row;
   padding-bottom:1%;
   padding-left: 1%;
   padding-right: 1%;
    
}
.eventButton{
    justify-content: space-between;
    display: flex;
    width: 82%;
    padding-top: 15%;
    float: left;
    position: relative;
    right: 0%;
    margin-bottom: 60px;  
    
    }
    

  @media only screen and (max-width: 1080PX) {
    .logincontainer{
        border-radius: 0.5px;
    border-width: 1.8px;}
  }

  @media only screen and (max-width: 720PX) {
    .logincontainer{
        border-radius: 0.5px;
    border-width: 2px;}
    .distancebetweenButtons{
        justify-content: space-between;
        display: flex;
        width: 100%;
        padding-top: 1%;
        float: left;
        position: relative;
        flex-direction: row;
       
        
    }
   
  }
  @media only screen and (max-width: 360PX) {
    .logincontainer{
        border-radius: 0.5px;
    border-width: 2px;
    width: 100%;
    top:1em;        
    border-style: none;
    line-height: 40px;
    }
    .fundoonamecontainer{
        margin-top: 30px;
        font-size: xx-large; 
    }
    .distancebetweenButtons{
        justify-content: space-between;
        
        display: flex;
        width: 20em;
        padding-top: 1%;
        float: left;
        position: relative;
        flex-direction: row;
     
    }
    .signtext{
        font-family: sans-serif;
        justify-items: center;
        font-size: 20px;
    }
    .TextField{
        margin-top: 20px;
        margin-bottom: 40px;
        height: 20px;
        width: 90%;
    }
    .eventButton{
        width: 90%;
    }
   
  }
  @media only screen and  (max-width: 414PX) {
    .logincontainer{
        border-radius: 0.5px;
    border-width: 2px;
    width: 100%;
    top:1em;        
    border-style: none;
    line-height: 40px;
    }
    .fundoonamecontainer{
        margin-top: 30px;
        font-size: xx-large; 
    }
    .distancebetweenButtons{
        justify-content: space-between;
        
        display: flex;
        width: 20em;
        padding-top: 1%;
        float: left;
        position: relative;
        flex-direction: row;
     
    }
    .signtext{
        font-family: sans-serif;
        justify-items: center;
        font-size: 20px;
    }
    .TextField{
        margin-top: 20px;
        margin-bottom: 40px;
        height: 20px;
        width: 90%;
    }
    .eventButton{
        width: 90%;
    }
   
  }

  @media only screen and  (max-width: 414PX) {
    .distancebetweenButtons{
       
        width: 22em;
       
     
    }

    .eventButton{
        width: 90%;
    }
  }