.logincontainer{
    width: 20em;  
    height: auto;   
    position: relative;   
    border-width: 0.1px;
    line-height: 30px;
    border-color:  rgb(247, 244, 244);
    top:10em;        
    background-color: #FFFFFF;    
    display: flex;    
    border-style: groove;
    flex-direction: column;   
    margin: auto;    
    padding: 0;   
    align-items: center;  
    justify-items: center;    
}
.fundoonamecontainer{
    margin-top: 30px;
    font-size: x-large;  
}
.blue{color: blue;}
.red{color:red;}
.yellow{color: yellow;}
.green{color: green;}
.signtext{
    font-family: sans-serif;
    justify-items: center;
    font-size: 14px;
}


.TextField{
    margin-top: 15px;
    margin-bottom: 40px;
    height: 5px;
}
.forgetpass{
        width: 22em;
    margin-top: 1px;    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;  
    font-size: x-small;
    margin-bottom: 40px;
    color: blue;
    top:10em;  
    line-height: 50px;

}
.buttons{
    width: 30px;
    float: right;
    position: relative;
    right: 25%;
    margin-bottom: 30px;  
}
.invalidfeedback {
    color: red;
}
.createAccount{
    color: blue;
}


  @media only screen and (max-width: 1080PX) {
    .logincontainer{
        border-radius: 0.5px;
    border-width: 1.8px;}
  }

  @media only screen and (max-width: 720PX) {
    .logincontainer{
        border-radius: 0.5px;
    border-width: 2px;}
  }
