
.Registrationcontainer{
    width: 70%;  
    height: auto;    
    border-width: 0.1px;
    line-height: 30px;
    border-color:  rgb(247, 244, 244);
    top:5em;        
    background-color: #FFFFFF;    
    display: flex;    
 
    flex-direction: column;   
    margin: auto;    
   
    align-items: start;  
    justify-items: center;
    margin-top: 5px; 
    flex-direction: column;
    margin-left: 20px;


}
.labletext{
    font-size:x-large;
}
.TextInputField{
    justify-content: space-between;
    display: flex;
    width: 95%;
    padding-top: 1%;
    float: left;
    position: relative;
    right: 0%;
    margin-bottom: 1px;  
    margin-top: 10px;  
    
}
#textbox{
    width:40%
}
.TextInputFields{
    justify-content: space-between;
    display: flex;
    width: 95%;
    padding-top: 1%;
    float: left;
    position: relative;
    right: 0%;
    margin-bottom: 1px;  
    margin-top: 10px;  
}

.lable{
    font-size:small;
}
.linkages{
    
}
.Field{
    width: 95%;
}
.buttonField{
    justify-content: space-between;
    display: flex;
    width: 95%;
    padding-top: 1%;
    float: left;
    position: relative;
    flex-direction: row;
}

.image{
    content: url('../image/googleimage.svg');
    width:244px;
    height: 244px;
}
.imgcontainer{
    width:244px;
    height: 244px;
    padding-top: 5px;
    
}
.visibility{

   width:20px;
   height:20px
}

.containersss{
    width: 50%;  
  
    position: relative;   
    border-width: 0.1px;

    border-color:  rgb(247, 244, 244);
    top:5em;        
    background-color: #FFFFFF;    
    display: flex;    
    border-style: groove; 
    margin-left: 20%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding-right: 1%;
    flex-direction: row;
    padding-bottom: 30px;
    padding-left: 10px;
}
.imageContainer{
    align-items: flex-start;
    justify-content: start;

    display: flex;
    flex-direction: row;

  
}
.imageText{
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    justify-items: center;
        flex-direction: row;
        align-self: center;
        justify-content: space-around;
        justify-self: center;
        position: relative;
        text-align: center;
        color: rgb(141, 141, 139);
        
    }

   
    @media only screen and (max-width:1080px){
        .Registrationcontainer{
            width: 90%;
            position: absolute;
            border-style: groove; 
            padding-left: 20px;
            border-width: 3px;
            line-height: 30px;
            border-color:  rgb(247, 244, 244);
            padding-bottom: 20px; 
        
        }
        .imageContainer{
            display: none;
        }
        .TextInputField{
            justify-content: space-between;
            display: flex;
            width: 95%;
            padding-top: 1%;
            float: left;
            position: relative;
            flex-direction: row;
           
            
        }
        .buttonField{
            justify-content: space-between;
            display: flex;
            width: 95%;
            padding-top: 1%;
            float: left;
            position: relative;
            flex-direction: row;
        }
        .containersss{
            border-style: none; 
            padding-bottom: 30px; 
            top:1px;  
        }
       
    }
    @media only screen and (max-width:780px){
        .Registrationcontainer{
            align-self: center;
            width: 100%;
            position: absolute;
            border-style: none; 
            margin-left: 20px;
            padding-left: 8%;
            
            border-width: 3px;
            line-height: 30px;
            border-color:  rgb(247, 244, 244);
            border-style: groove; 
            padding-bottom: 5%; 
            display: flex;
        }
        .imageContainer{
            display: none;
        }
        .TextInputField{
            justify-content: space-between;
            display: flex;
            width: 90%;
            padding-top: 1%;
            float: left;
            position: relative;
            flex-direction: row;
           
            
        }
        .Field{
            width: 90%;
        }
        .containersss{
            justify-content: center;
            padding-bottom: 0px; 
              width: 70%;  
              margin-left: 60px;
              line-height: 30px;
              border-color:  rgb(247, 244, 244);
              border-style: groove; 
          
        }
       
    }
    @media only screen and (max-width:360px){
        .Registrationcontainer{
            width: 100%;  
            line-height: 30px;
            top:0;        
            display: flex;    
         
            flex-direction: column;   
            margin: auto;    
            border-style: none;
            align-items: start;  
            justify-items: center;
            margin-top: 0; 
            flex-direction: column;
            
        
        
        }
        .imageContainer{
            display: none;
        }
        .TextInputField{
            justify-content: space-between;
            display: flex;
            width: 95%;
            padding-top: 1%;
            float: left;
            position: relative;
            flex-direction: column;
            line-height: 20px;
            
        }
        .Field{
            width: 95%;
            line-height: 20px;
        }
        .labletext{
            font-size:x-large;
            line-height: 40px;
        }
        .containersss{
            justify-content: center;
            padding-bottom: 0px; 
              width: 90%;  
             margin-left: 0px;
             margin-top: 0px;
              line-height: 30px;
           
          
        }
      
       
    }
    @media only screen and (max-width:414px){
        .Registrationcontainer{
            width: 100%;  
            line-height: 30px;
            top:0;        
            display: flex;    
         
            flex-direction: column;   
            margin: auto;    
            border-style: none;
            align-items: start;  
            justify-items: center;
            margin-top: 0; 
            flex-direction: column;
            
        
        
        }
        .imageContainer{
            display: none;
        }
        .TextInputField{
            justify-content: space-between;
            display: flex;
            width: 90%;
            padding-top: 1%;
            float: left;
            position: relative;
            flex-direction: column;
            line-height: 25px;
            
        }
        .Field{
            width: 90%;
            line-height: 25px;
        }
        .labletext{
            font-size:x-large;
            line-height: 60px;
        }
        .containersss{
            justify-content: center;
            padding-bottom: 0px; 
              width: 95%;  
             margin-left: 0px;
             margin-top: 0px;
              line-height: 30px;
           
          
        }
    }