
.Registrationcontainer{
    width: 70%;  
    height: auto;    
    border-width: 0.1px;
    line-height: 30px;
    border-color:  rgb(247, 244, 244);
    top:5em;        
    background-color: #FFFFFF;    
    display: flex;    
 
    flex-direction: column;   
    margin: auto;    
   
    align-items: start;  
    justify-items: center;
    margin-top: 5px; 
    flex-direction: column;
    margin-left: 20px;


}
.labletext{
    font-size:x-large;
}
.TextInputField{
    justify-content: space-between;
    display: flex;
    width: 95%;
    padding-top: 1%;
    float: left;
    position: relative;
    right: 0%;
    margin-bottom: 1px;  
    margin-top: 10px;  
    
}
.lable{
    font-size:small;
}
.linkages{
    color: blue;
}
.Field{
    width: 95%;
}


.image{
    content: url('../image/googleimage.svg');
    width:244px;
    height: 244px;
}
.imgcontainer{
    width:244px;
    height: 244px;
   
    
}
.containersss{
    width: 50%;  
  
    position: relative;   
    border-width: 0.1px;

    border-color:  rgb(247, 244, 244);
    top:5em;        
    background-color: #FFFFFF;    
    display: flex;    
    border-style: groove; 
    margin-left: 20%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding-right: 1%;
    flex-direction: row;
    padding-bottom: 30px;
    padding-left: 10px;
}
.imageContainer{
    align-items: flex-start;
    justify-content: start;

    display: flex;
    flex-direction: row;

  
}
.imageText{
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    justify-items: center;
        flex-direction: row;
        align-self: center;
        justify-content: space-around;
        justify-self: center;
        position: relative;
        text-align: center;
        color: rgb(141, 141, 139);
        
    }